<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yubajin.smartadmin.module.system.role.roleemployee.RoleEmployeeDao">


    <resultMap id="EmployeeDTO"
               type="cn.yubajin.smartadmin.module.system.employee.domain.dto.EmployeeDTO"></resultMap>


    <sql id="baseSql">
        er.id,
        er.role_id,
        er.employee_id,
        er.update_time,
        er.create_time
    </sql>

    <delete id="deleteByRoleId">
        DELETE FROM t_role_employee
        WHERE role_id = #{roleId}
    </delete>

</mapper>