<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yubajin.smartadmin.module.system.role.roleprivilege.RolePrivilegeDao">

    <resultMap id="RolePrivilegeEntity"
               type="cn.yubajin.smartadmin.module.system.role.roleprivilege.RolePrivilegeDao"></resultMap>

    <resultMap id="PrivilegeEntity"
               type="cn.yubajin.smartadmin.module.system.role.roleprivilege.domain.entity.RolePrivilegeEntity"></resultMap>

    <sql id="baseSql">
        rp.id,
        rp.role_id,
        rp.privilege_key,
        rp.update_time,
        rp.create_time
    </sql>


    <delete id="deleteByRoleId">
        DELETE FROM t_role_privilege
        WHERE role_id = #{roleId}
    </delete>

</mapper>